<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Data Page</title>
    <style>
        h1{
            color: red;
        }
    </style>
</head>
<body>
    <h1>Show Data</h1>
    
    <script>
        fetch("/showdata").
        then((res)=>{
            return res.json()
        })
        .then((data)=>{
             
             data.forEach((element)=>{
                let h1 = document.createElement("h1");
                h1.innerText = element.input;
                document.body.append(h1);
             })
        })
    </script>
</body>
</html>